html {
    box-sizing: border-box;
    background-color: orange;
    margin: 0px;
    padding: 0px;
}

img {
    display:block;
    margin: 0 auto;
    border: solid black 3px;
    width: 60%;
}

a {
    font-family: Arial;
    color: darkblue;
    font-weight:700;
    text-decoration: none;
    font-size: 40px;
    float: left;
    margin: 0px 1  20px;
    border: solid orange 30px;
    border-bottom: 0;
    border-top: 0;
    border-right-width: 20px;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: white;
    color: orange;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.description {
    text-align: center;
}

.content {
    display: table;
    margin: 0 auto;
}

.content li {
    margin: 0 500px;
}

hr {
    margin: 70px 500px;
    border: solid black 1px;
}